.leading-link {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    font-style: italic;
}

.leading-link > * {
    margin-right: 5px;
}

a.icon-button {
	color: black;
	padding: 5px;
	vertical-align: middle;
}

a.icon-button:hover {
	cursor: pointer;
}